* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  /* color: white; */
}
body {
  color: aliceblue;
  /* overflow: hidden; */
  scroll-behavior: smooth;
  background-color:black;
}
.burger{
  display: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 53px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: rgb(6, 4, 44);
}
.logo {
  position: relative;
  font-size: 25px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.navbar {
  display: inline-block;
  font-size: 25px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 600;
}
.navbar a {
  display: inline-block;
  font-size: 20px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.navbar a:hover {
  color: aqua;
  font-size: 22px;
}
.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(image/bg3.png);
  /* background-color: rgb(14, 18, 18); */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
img {
   /* width: 282px; */
   /*
  border-radius: 143px;
  margin-right: 0px 116px;
  margin-right: 127px;
  margin-bottom: 70px;  */
  width: 100%;
}

.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 22px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 10px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h1 {
  font-size: 28px;
  font-weight: 600;
  /* margin: -3px 0px; */
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content p {
  font-size: 18px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: transparent;
  border: 2px solid rgb(84, 215, 224);
  border-radius: 50%;
  font-size: 20px;
  color: rgb(84, 215, 224);
  text-decoration: none;
  transform: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
 margin:  13px 15px 21px 1px;
}
.home-sci a:hover {
  background-color: aqua;
  color: black;
  box-shadow: 0 0 20px aqua;
}
.home-content h3 span {
  color: aqua;
}
.btn-box {
  display: inline-block;
  padding: 12px 17px;
  margin: 15px 0px 0px 22px;
  background: aqua;
  border-radius: 40px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 0 5px aqua, 0 0 25px aqua;
   opacity: 0; 
   animation: slideTop 0.5s ease forwards;
   animation-delay: 2s; 
}
.btn-box:hover {
  box-shadow: 0 0 5px aqua, 0 0 25px aqua, 0 0 50px aqua, 0 0 5px aqua,
    0 0 10px aqua;
}

/* second page css */
.about{
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(image/bg5.png);
  /* background-color: rgb(14, 18, 18); */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  /* padding: 70px 10% 0; */
  gap: 1.5rem;
}
.about-text{
margin-left: 660px;
margin-right: 50px;

}
.about-text h2{
  font-size: 33px;
}
.about-text h2 span{
  color: aqua;
}
.about-text h4{
  font-size: 22px;
  font-weight: 501;
  color: rgb(178, 30, 224);
  line-height: 1.6;
  margin: 6px 0px 0px 0px;
}
.about-text p{
  color: aliceblue;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 2rem;
}


 img{
  padding-bottom: 20%;
  max-width: 630px;
  height: auto;
  width: 100%;
  /* border-radius: 8px; */
}
#service{
  color: aliceblue;
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 3rem;
}
.container{
  padding: 90px;

}
.sub-title{
  text-align: center;
  font-size: 35px;
  /* padding-bottom: 40px; */
  /* margin-right: 70px; */
}
.sub-title span{
  color: aqua;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
 grid-gap: 100px;
 margin-top: 40px;
}
.services-list div{
  background-color: transparent;
  padding: 40px;
  font-size: 16px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s,transform 0.5s;
  box-shadow: 1px 1px 30px blue;
  margin-right: 30px;
}
.services-list div i{
  font-size: 40px;
  margin-bottom: 30px;
}
.services-list div h2{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
  color: blueviolet;
}
.services-list div a{
  text-decoration: none;
  color: #000;
  font-size: 13px;
  margin-top: 20px;
  display: inline-block;
}

.read{
  display: inline-block;
  padding: 10px 20px;
  background-color: aqua;
  border-radius: 40px;
  font-size: 16px;
  color: black;
  /* letter-spacing: 1px; */
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 0 5px aqua, 0 0 25px aqua;
   opacity: 0; 
   animation: slideTop 0.5s ease forwards;
   animation-delay: 2s;
  

}
.read:hover{
  box-shadow: 0 0 5px aqua, 0 0 25px aqua, 0 0 50px aqua, 0 0 5px aqua,
  0 0 10px aqua;

}

.services-list div:hover{
  transform: translateY(-10px);
}

.my-skill{
  display: flex;
  flex-wrap: wrap;
}
.container1{
  
  width: 45%;
  height: 500px;
  padding: 75px 90px;
  margin-left: 60px;
}
.heding1{
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
  color: blueviolet;
  /* background-color: blueviolet; */
  
}
.bar{
  font-size: 23px;
  /* margin-bottom: 50px; */
 
}
.technical-bars .bar{
  margin-top: 40px 0;
}
.technical-bars .bar:first-child{
  margin-top: 0;
}
.technical-bars .bar:last-child{
  margin-bottom: 0;
}
.technical-bars .bar .info{
  margin-bottom: 5px;
}
.technical-bars .bar .info span{
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
.technical-bars .bar .progress-line{
  margin-bottom: 10px;
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 4px;
  background-color: rgb(82, 101, 244);
  animation: animate  4s cubic-bezier(1,0,0.5,1) forwards;
   animation-delay: 1s;
  transform: scaleX(0);
  transform-origin: left;
}


@keyframes animate {
  100%{
    transform: scaleX(1);

  }
}

.technical-bars .bar .progress-line span{
  height: 100%;
  background-color: aqua;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s  cubic-bezier(1,0,0.5,1) forwards;
  transform: scaleX(0);
  transform-origin: left;

}
.progress-line.html span{
  width: 90%;
}
.progress-line.css span{
  width: 70%;
}
.progress-line.javascript span{
  width: 70%;
}
.progress-line.react span{
  width: 70%;
}
.progress-line.mysql span{
  width: 90%;
}
.progress-line.node span{
  width: 40%;
}
.progress-line.java span{
  width: 70%;
}.progress-line.python span{
  width: 60%;
}
.progress-line.github span{
  width: 80%;
}
.progress-line span::after{
  position: absolute;
  padding: 1px 10px;
  /* background-color: red; */
  color: rgb(224, 225, 224);
  font-size: 12px;
  border: 3px;
  top: -20px;
  right: -20px;
  animation: showText 0.5s 1 0.5s linear forwards;
  opacity: 0;


}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "70%";
}
.progress-line.javascript span::after{
  content: "70%";
}
.progress-line.react span::after{
  content: "70%";
}
.progress-line.mysql span::after{
  content: "90%";
}
.progress-line.node span::after{
  content: "50%";
}
.progress-line.java span::after{
  content: "70%";
}
.progress-line.python span::after{
  content: "60%";
}
.progress-line.github span::after{
  content: "80%";
}
.progress-line span::before{

  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  top: -10px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;

}
.container2{
  
  width: 45%;
  height: 500px;
  padding: 75px 90px;
  margin-left: 60px;
}

@keyframes showText {
  100%{
    opacity: 1;
  }
}
.radical-bars{
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  
}
.radical-bars .radical-bar{
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}
.radical-bars .radical-bar svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg) ;
  width: 120px;
  height: 160px;
}
.radical-bars .radical-bar .progress-bar{
  stroke: rgb(132, 0, 255);
  stroke-width: 10;
  stop-color: rgb(129, 60, 242);
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
animation: animation-bar 1s linear forwards 1 ;
}
@keyframes animation-bar {
  100%{
    stroke-dashoffset: -1;
  }
  
}
.path{
  stroke-width: 10;
  stroke: aqua;
 fill: transparent;
 stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}
.path-1{animation: animate-path1 1s 1s linear forwards }
.path-2{animation: animate-path2 1s 1s linear forwards }
.path-3{animation: animate-path3 1s 1s linear forwards }
.path-4{animation: animate-path4 1s 1s linear forwards }
.path-5{animation: animate-path5 1s 1s linear forwards }
.path-6{animation: animate-path6 1s 1s linear forwards }

@keyframes animate-path1 {
  100%{
    stroke-dashoffset: 200;
  } 
}
@keyframes animate-path2 {
  100%{
    stroke-dashoffset: 150;
  } 
}
@keyframes animate-path3 {
  100%{
    stroke-dashoffset: 115;
  } 
}
@keyframes animate-path4 {
  100%{
    stroke-dashoffset: 75;
  } 
}
@keyframes animate-path5 {
  100%{
    stroke-dashoffset: 100;
  } 
}
@keyframes animate-path6 {
  100%{
    stroke-dashoffset: 115;
  } 
}
.radical-bar .percentage{
  position: absolute;
top: 50%;left: 50%;
transform: translate(-50%, -50%);
 font-size: 17px;
 font-weight: 500;
 animation: showText 0.5s 1s linear forwards;

}
.radical-bar .text{
  width:100%;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  font-size:19px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;


}

.main-text{
  padding-top: 130px;
  margin-top: 200px;
  
}
.main-text h1{
  margin: 20px 0px;
  font-size: 35px;
  line-height: 1;
  text-align: center;
}
.main-text h1 span{
  color: aqua;

}
.portfolio-content{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(359px, auto));

}
.row{
  position: relative;
  overflow: hidden;
  border-radius: 8px;

}
.row img{
  width: 100%;
  height: 500px;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0px;
  background: linear-gradient(rgba(0,0,0,0.8),rgb(93, 70, 188));
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;

}
.layer h5{
  color: rgb(34, 223, 240);
  font-size: 25px;
  font-weight: 501;
  margin-bottom: 15px;

}
.layer p{
  color: whitesmoke;
  font: 1.1em sans-serif;
  line-height: 1.5;

}
.layer a{
  /* text-align: center; */
  color: yellow;
  text-decoration: none;
}
.layer i {
  /* color: green; */
  margin-top: 20px;
  background-color: #03040e;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* text-decoration: none; */

}
.layer .bx{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: transparent;
  border: 2px solid rgb(23, 218, 239);
  border-radius: 50%;
  font-size: 20px;
  color: rgb(54, 225, 237);
  text-decoration: none;
  /* transform: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i)); */
 margin:  13px 15px 21px 1px;
}
.layer .bx:hover{
  background-color: aqua;
  color: black;
  box-shadow: 0 0 20px aqua;
}
.row:hover img{
  transform: scale(1,1);

}
.row:hover .layer{
  height: 100%;

}

.contact{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  margin-top: 130px;

}
.contact-text h2{
  font-size: 35px;
  line-height: 1;
  text-align: center;
}
.contact-text h2 span{
  color: aqua;
}
.contact-text h4{
  margin: 15px 0;
  color: aliceblue;
  font-size: 20px;
  font-weight: 600;

}
.contact-text p{
  color: azure;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 2rem;

}

.contact-list{
  margin-bottom: 3rem;

}
.contact-list li{
  margin-bottom: 10px;
  display: block;

}
.contact-list i{
  display: inline-block;
  color: aqua;
  font-size: 20px;
  font-weight: 600;
  transition: all .40s ease;

}
.contact-form{
  position: relative;
}
.contact-form form input, form textarea{
  border: none;
  outline: none;
  width: 80%;
  padding:11px;
  color: black;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;

}
.contact-form textarea{
  resize: none;
  height: 180px;

}
.contact-form form .send{

  text-align: center;
  align-items: center;
  display: flex;
  margin-left: 30%;
  /* text-align: center; */
  /* display: inline-block; */
  padding: 12px 28px;
  background: aqua;
  border-radius: 40px;
  font-size: 19px;
  color: #000;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px aqua, 0 0 25px aqua;

}
.contact-form form .send:hover{
  box-shadow: 0 0 5px aqua, 0 0 25px aqua, 0 0 50px aqua, 0 0 5px aqua,
  0 0 10px aqua;
  /* font-size: 18px; */

}

footer .last-text p{
width: 100%;
text-align: center;
padding: 25px 0px;
font-weight: 300;
margin-top: 70px;
}
.top{
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;

}
.top i{
  color: cyan;
  background: black;
  font-size: 30px;
  /* padding: 10px; */
  border-radius: 0.5rem;
  
}


@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
